{% if user.is_authenticated %}
    {% if user.id != items.user.id %}
        {% if items in WatchlistAlready%}
        <form action="{% url 'auctions:watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="address" value="{{ address }}">
            <button type="submit" name="id" value="{{ items.id }}">Remove from Watchlist</button>
        </form>
        {% else %}
        <form action="{% url 'auctions:watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="address" value="{{ address }}">
            <button type="submit" name="id" value="{{ items.id }}">Add to Watchlist</button>
        </form>
        {% endif %}
    {% endif %}
{% endif %}

<div class="listing">
    <a href="{% url 'auctions:listing' items.id %}" target="blank">
        <li class="title">
            {{ items.title }}
        </li>
    </a>
    <li class="user">
        By {{ items.user }}
    </li>
    {% for each in items.category.all %}
    <a href="{% url 'auctions:categories_page' each %}" class="category" target="blank">
        {{ each }},
    </a>
    {% endfor %}
    {% if items.link %}
    <div>
        <img src="{{ items.link }}" class="link" alt="an image of the item/s being bidded">
    </div>
    {% endif %}
    <li class="description">
        {% for char in items.description %}{{ char }}{% endfor %}
    </li>
    <li class="price">
        Starting price - ${{ items.floor_price }}
    </li>
    <li class="bid">
        Last bid price - ${{ items.final_price }}
    </li>
</div>